<!DOCTYPE html>
html(lang="en")

  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title PDFfiller

    link(rel="stylesheet", href="themes/css/normalize.css")
    link(rel="stylesheet", href="themes/css/style.css")

  body
    

    .layout__block
      .block__title Thank you for choosing to subscribe to PDFfiller services!
    
    .layout
      .layout__block.formset
        
        form#checkout(name="checkout" action="#" method="get")
          .grid
            .grid__row
              .grid__col.grid__col--fixed
                label(for="firstname") Cardholder Name
              .grid__col
                input#firstname.fill(type="text" name="firstname" placeholder="First Name")
              .grid__col
                input#lastname.fill(type="text" name="lastname" placeholder="Last Name")

            .grid__row
              .grid__col.grid__col--fixed
                label(for="cardnumber") Card Number
              .grid__col
                input#cardnumber.fill(type="tel" name="cardnumber" placeholder="0000 0000 0000 0000")
              .grid__col.absolute
                ul.list
                  li.list__item
                    img.item__content(src="assets/icons/visa-icon.svg", alt="")
                  li.list__item
                    img.item__content(src="assets/icons/mastercard-icon.svg", alt="")
                  li.list__item
                    img.item__content(src="assets/icons/discover-icon.svg", alt="")
                  li.list__item
                    img.item__content(src="assets/icons/americanexpress-icon.svg", alt="")

            .grid__row
              .grid__col.grid__col--fixed.clear
                label(for="month") Exp. Date
              .grid__col
                select#month.dropdown(name="month")
                  option(value="") MM
                  option.dropdown__item(value="1") 01
                  option.dropdown__item(value="2") 02
                  option.dropdown__item(value="3") 03
                  option.dropdown__item(value="4") 04
                  option.dropdown__item(value="5") 05
                  option.dropdown__item(value="6") 06
                  option.dropdown__item(value="7") 07
                  option.dropdown__item(value="8") 08
                  option.dropdown__item(value="9") 09
                  option.dropdown__item(value="10") 10
                  option.dropdown__item(value="11") 11
                  option.dropdown__item(value="12") 12
                span.dropdown__split /
                select#year.dropdown(name="year")
                  option(value="") YYYY
                  option(value="1") 2017
                  option(value="2") 2018
                  option(value="3") 2019
                  option(value="4") 2020
                  option(value="5") 2021
                  option(value="6") 2022
                  option(value="7") 2023
                  option(value="8") 2024
                  option(value="9") 2025
                  option(value="10") 2026
                  option(value="11") 2027
                  option(value="12") 2028

              .grid__col
                .grid__row
                  .grid__col.grid__col--fixed
                    label(for="cvv") CVV/CVC
                  .grid__col
                    input#cvv.fill(type="text" name="cvv" placeholder="0000")

            .grid__row
              .grid__col.grid__col--fixed
                label(for="zipcode") Zip/Postal Code
              .grid__col
                input#zipcode.fill(type="text" name="zipcode" placeholder="01001")
                 
                
      .layout__block.layout__block--clear
        .block__comp.comp__style
          .comp__title Or pay with Paypal
          .comp__action
            a.comp__label(href="#")
              img(src="assets/icons/paypal-btn.svg", alt="PayPal")

      .layout__block
        .block__comp.submission
          button.btn.btn--rc.btn--submit(type="submit" form="checkout" value="") Start My Subscription for $19.99/mo.
          
          
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.16.0/additional-methods.js")
    script(src="scripts/jquery.validate.js")
    script(src="scripts/validate.js")
