<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Document
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css")
    link(rel="stylesheet", href="themes/css/style.css")
    
  body
  
    div.wrapper
    
      h1 Thank you for choosing to subscribe to PDFfiller services!
      
      form
        fieldset
          legend Cardhoder Name
          input#firstName(type="text", name="First Name", placeholder="First Name" required)
          input#lastName(type="text", name="Last Name", placeholder="Last Name" required)
        
        fieldset
          legend Card Number
          input#cardNumber(type="tel", name="First Name", placeholder="0000 0000 0000 000" maxlength="16" required)
          div.cardtype
            ul
              li VISA
              li MASTERCARD
              li DISCOVER
              li AMERICAN EXPRESS
        
        fieldset
          legend Exp. Date
          select#month(name="Month", placeholder="First Name" required)
            option(value="01") 01
            option(value="02") 02
            option(value="03") 03
            option(value="04") 04
            option(value="05") 05
            option(value="06") 06
            option(value="07") 07
            option(value="08") 08
            option(value="09") 09
            option(value="10") 10
            option(value="11") 11
            option(value="12") 12
          select#year(name="Year", placeholder="Last Name" required)
            option(value="2017") 2017
            option(value="2018") 2018
            option(value="2019") 2019
            option(value="2020") 2020
            option(value="2021") 2021
            option(value="2022") 2022
            option(value="2023") 2023
            option(value="2024") 2024
            option(value="2025") 2025
            option(value="2026") 2026
            option(value="2027") 2027
            option(value="2028") 2028
    
        fieldset
          legend CVV/CVC
          input#cvv(type="tel", name="cvv", placeholder="XXXX" maxlength="4" required)
          
        fieldset
          legend Zip/Postal Code
          input#zipcode(type="text", name="zipcode", placeholder="01001" maxlength="4" required)
        
        button(type="submit") Start My Subscription for $19.99/mo.
        
      div Or pay with PayPal
