<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title PDFfiller
    
    link(href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css")
    link(rel="stylesheet", href="themes/css/style.css")
    
    link(href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js")
    link(href="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js")
    
    
  body
  
    div.card-checkout
    
      div.card-checkout__title Thank you for choosing to subscribe to PDFfiller services!
  
      form#payment(method="get" action="#" novalidate)
      
        // FIRST AND LAST NAME  
        div.row
          div.row__col.row__col--static
            label.label(for="firstName") Cardholder Name
          div.row__col.row__col--1-2.gutter
            input#firstName.fill-in.required(type="text", name="firstName", placeholder="First Name" aria-label="First name" required)
          div.row__col.row__col--1-2.gutter
            input#lastName.fill-in.required(type="text", name="lastName", placeholder="Last Name" aria-label="Last name" required)
        
        // CARD NUMBER AND BRAND  
        div.row
          div.row__col.row__col--static.gutter
            label.label(for="cardNumber") Card Number
          div.row__col
            input#cardNumber.fill-in(type="tel", name="cardNumber", placeholder="0000 0000 0000 000" maxlength="16" required)
          div.row__col.gutter
            ul.list
              li.list__item
                img(src="assets/icons/visa-icon.svg", alt="Visa card")
              li.list__item
                img(src="assets/icons/mastercard-icon.svg", alt="Mastercard card")
              li.list__item
                img(src="assets/icons/discover-icon.svg", alt="Discovery card")
              li.list__item
                img(src="assets/icons/americanexpress-icon.svg", alt="American express card")
                
        // EXP DATE AND CVV         
        div.row
          div.row__col.row__col--static-2
            label.label(for="month") Exp. Date
          div.row__col.row__col--static-2
            label.label(for="cvv") CVV/CVC
          div.row__col.row__col--1-2.gutter
            select#month.select(name="Month", required)
            div.divider /
            select#year.select(name="Year", required)
          div.row__col.row__col--1-2.gutter
            input#cvv.fill-in(type="tel", name="cvv", placeholder="XXXX" maxlength="4" required)
        
        // ZIP CODE
        div.row
          div.row__col.row__col--static
            label.label(for="zipcode") Zip/Postal Code
          div.row__col
            input#zipcode.fill-in(type="text", name="zipcode", placeholder="01001" maxlength="5" required)
            
        // PAY PAL
        div.row
          div.row__col.row__col--nested
            div.gateway__desc Or pay with PayPal
            button.gateway__link
              img(src="assets/icons/paypal-btn.svg", alt="")
        
        // SUBMIT FORM
        div.row
          div.row__col
            button.btn(type="submit" for="payment") Start My Subscription for $19.99/mo.
        
  script(src="scripts/validate.js")
  script(src="scripts/select.js")
