[type="button"],
[type="submit"] {
  position: relative;
  margin: 0;
  padding: 0;
  border: 0;
  outline: none; }

.btn {
  width: 100%;
  padding: 13px 20px;
  border-radius: 3px;
  border: 1px solid #fd7722;
  font-weight: bold;
  text-decoration: none;
  background: #FF9000;
  background-image: linear-gradient(to bottom, #FF9000, #fd7722);
  color: #ffffff;
  cursor: pointer;
  transition: all 0.15s ease-in-out; }
  .btn:hover {
    background: #FF9000; }
  .btn:active {
    background: #fd7722; }

#paypal-button {
  display: block;
  width: 100px;
  height: 38px; }

[type="text"], [type="tel"] {
  padding: 0;
  margin: 0;
  border: 0; }

::-webkit-input-placeholder {
  color: #888888; }

:-ms-input-placeholder {
  color: #888888; }

::placeholder {
  color: #888888; }

input.fill-in, select.select {
  height: 32px;
  padding: 0 10px;
  border-radius: 3px;
  border: 1px;
  border-style: solid;
  border-color: #cccccc;
  box-shadow: inset 1px 1px 2px 0 rgba(0, 0, 0, 0.2);
  font-size: 14px;
  font-weight: normal; }

.fill-in {
  width: 100%;
  min-width: 106px; }
  .fill-in:focus {
    border: 2px solid #343434; }

.fill-in, .select {
  margin: 0 0 6px 0; }

select.select {
  -webkit-appearance: none;
  -moz-appearance: none;
  display: block;
  float: left;
  min-width: 64px;
  padding-right: 20px;
  cursor: pointer;
  background-image: url(/assets/icons/select-arrow.svg);
  background-size: 9px 5px;
  background-position: 90% center;
  background-repeat: no-repeat; }

.divider {
  float: left;
  height: 32px;
  width: 21px;
  text-align: center;
  line-height: 32px; }

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: end;
      justify-content: flex-end; }
  @media (min-width: 480px) and (max-width: 767px) {
    .row {
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap; } }

.row__col {
  -ms-flex: 0 1 100%;
      flex: 0 1 100%; }

.row__col--static {
  -ms-flex: 0 1 100%;
      flex: 0 1 100%; }
  @media (min-width: 480px) and (max-width: 767px) {
    .row__col--static {
      -ms-flex: 0 0 120px;
          flex: 0 0 120px;
      text-align: right;
      background-color: navy;
      color: white; } }

.row__col--static-2 {
  -ms-flex: 0 1 50%;
      flex: 0 1 50%; }
  @media (min-width: 480px) and (max-width: 767px) {
    .row__col--static-2 {
      -ms-flex: 0 0 120px;
          flex: 0 0 120px;
      text-align: right;
      -ms-flex-item-align: start;
          align-self: flex-start;
      background-color: navy;
      color: white; } }

.row__col--1-2 {
  -ms-flex: 0 1 50%;
      flex: 0 1 50%; }
  @media (min-width: 480px) and (max-width: 767px) {
    .row__col--1-2 {
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
      background-color: lightgreen; } }

.row__col--nested {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: justify;
      justify-content: space-between;
  margin: 15px 0;
  padding: 12px 16px;
  background-color: #f7f7f7;
  border-radius: 6px;
  border: 1px solid #dddddd; }

[class*='gutter'] {
  padding-right: 20px; }

[class*='gutter']:last-of-type {
  padding-right: 0; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  font-family: 'Arial', sans-serif; }

form {
  font-size: 14px; }

.card-checkout {
  min-width: 320px;
  padding: 30px 15px; }
  @media (min-width: 480px) and (max-width: 767px) {
    .card-checkout {
      padding-right: 7px;
      padding-left: 7px; } }

.card-checkout__title {
  margin-bottom: 70px;
  text-align: center;
  font-weight: bold;
  line-height: 26px;
  font-size: 20px; }
  @media (min-width: 480px) and (max-width: 767px) {
    .card-checkout__title {
      font-size: 24px; } }
  @media (min-width: 768px) {
    .card-checkout__title {
      font-size: 24px; } }

.cf {
  content: '';
  display: table;
  clear: both; }

.label {
  display: block;
  margin: 6px 0;
  font-weight: bold; }

.list {
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 104px; }
  @media (min-width: 480px) and (max-width: 767px) {
    .list {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: justify;
          justify-content: space-between;
      position: relative;
      top: 0; } }

.list {
  padding: 0;
  margin: 0;
  text-align: center; }

.list__item {
  display: inline-block;
  margin-right: 20px; }
  .list__item:last-child {
    margin-right: 0; }
  @media (min-width: 480px) and (max-width: 767px) {
    .list__item {
      margin-right: auto;
      margin-top: 3px;
      margin-bottom: -1px; } }

.list__item img {
  display: block;
  height: 30px; }
  @media (min-width: 480px) and (max-width: 767px) {
    .list__item img {
      height: 27px; } }

.gateway__link {
  padding: 0;
  margin: 0;
  border: 0;
  cursor: pointer;
  width: 100px;
  height: 38px;
  -ms-flex-item-align: end;
      align-self: flex-end; }

/*# sourceMappingURL=style.css.map */
