.input-group
  display: inline-block

.input
  width: 25%
  min-width: 13.75rem
  min-height: 3rem
  padding: 0 1rem
  margin: 1.5rem 0 0.75rem 0
  border: 2px solid $grey-border
  border-radius: 0.375rem
  &:focus
    border-color: $grey-border
  &:not(:valid) ~ .input__icon--clear
    display: none
  &:last-child
    clear: right

::placeholder
  color: $grey-border

input::-webkit-search-cancel-button,
input::-ms-clear
  display: none

.input__icon--clear
  position: absolute
  width: 20px
  height: 20px
  right: 1rem
  cursor: pointer
  background-color: $white
  border-radius: 999rem
  &::after
    content: ''
    position: absolute
    width: 12px
    height: 2px
    top: 45%
    left: 20%
    border-radius: 2px
    transform: rotate(45deg)
    background-color: $white
  &::before
    content: ''
    position: absolute
    width: 12px
    height: 2px
    top: 45%
    left: 20%
    border-radius: 2px
    transform: rotate(-45deg)
    background-color: $white
